<?xml version="1.0" encoding="utf-8"?>
<robot name="envimo">
    <material name="robot_gray">
        <color rgba="0.792 0.820 0.933 1"/>
    </material>
    <material name="robot_front_color">
        <color rgba="1 0 0 1"/>
    </material>

    <!-- Base link (no inertial) -->
    <link name="base_link">
        <visual>
            <geometry>
                <box size="0.71 0.46 0.40"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <material name="robot_gray"/>
        </visual>
        <collision>
            <geometry>
                <box size="0.71 0.46 0.40"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </collision>
    </link>

    <!-- BASE_FOOTPRINT LINK with inertial data -->
    <link name="base_footprint">
        <inertial>
            <mass value="28.0"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia 
                ixx="0.8885" ixy="0.0" ixz="0.0" 
                iyy="1.4993" iyz="0.0" 
                izz="1.7421"/>
        </inertial>
    </link>

    <joint name="base_footprint_joint" type="fixed">
        <parent link="base_link"/>
        <child link="base_footprint"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="frontAxel_link">
        <visual>
            <geometry>
                <box size="0.10 0.46 0.15"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <material name="robot_front_color"/>
        </visual>
        <collision>
            <geometry>
                <box size="0.10 0.46 0.15"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </collision>
    </link>

    <joint name="frontAxel_base_joint" type="fixed">
        <origin xyz="0.24 0 -0.275" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="frontAxel_link"/>
    </joint>

    <link name="rearAxel_link">
        <visual>
            <geometry>
                <box size="0.10 0.46 0.15"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <material name="robot_gray"/>
        </visual>
        <collision>
            <geometry>
                <box size="0.10 0.46 0.15"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </collision>
    </link>

    <joint name="rearAxel_link_base_joint" type="fixed">
        <origin xyz="-0.24 0 -0.275" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="rearAxel_link"/>
    </joint>

    <link name="frontRightWheel_link">
        <visual>
            <geometry>
                <cylinder radius="0.1016" length="0.06"/>
            </geometry>
            <origin xyz="0 0 0" rpy="1.5708 0 0"/>
            <material name="robot_front_color"/>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.1016" length="0.06"/>
            </geometry>
            <origin xyz="0 0 0" rpy="1.5708 0 0"/>
        </collision>
    </link>

    <link name="frontLeftWheel_link">
        <visual>
            <geometry>
                <cylinder radius="0.1016" length="0.06"/>
            </geometry>
            <origin xyz="0 0 0" rpy="1.5708 0 0"/>
            <material name="robot_front_color"/>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.1016" length="0.06"/>
            </geometry>
            <origin xyz="0 0 0" rpy="1.5708 0 0"/>
        </collision>
    </link>

    <link name="rearRightWheel_link">
        <visual>
            <geometry>
                <cylinder radius="0.1016" length="0.06"/>
            </geometry>
            <origin xyz="0 0 0" rpy="1.5708 0 0"/>
            <material name="robot_gray"/>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.1016" length="0.06"/>
            </geometry>
            <origin xyz="0 0 0" rpy="1.5708 0 0"/>
        </collision>
    </link>

    <link name="rearLeftWheel_link">
        <visual>
            <geometry>
                <cylinder radius="0.1016" length="0.06"/>
            </geometry>
            <origin xyz="0 0 0" rpy="1.5708 0 0"/>
            <material name="robot_gray"/>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.1016" length="0.06"/>
            </geometry>
            <origin xyz="0 0 0" rpy="1.5708 0 0"/>
        </collision>
    </link>

    <joint name="frontRightWheel_frontAxel_joint" type="fixed">
        <origin xyz="0.0 -0.26 -0.055" rpy="0 0 0"/>
        <parent link="frontAxel_link"/>
        <child link="frontRightWheel_link"/>
    </joint>

    <joint name="frontLeftWheel_frontAxel_joint" type="fixed">
        <origin xyz="0.0 0.26 -0.055" rpy="0 0 0"/>
        <parent link="frontAxel_link"/>
        <child link="frontLeftWheel_link"/>
    </joint>

    <joint name="rearRightWheel_rearAxel_joint" type="fixed">
        <origin xyz="0.0 -0.26 -0.055" rpy="0 0 0"/>
        <parent link="rearAxel_link"/>
        <child link="rearRightWheel_link"/>
    </joint>

    <joint name="rearLeftWheel_rearAxel_joint" type="fixed">
        <origin xyz="0.0 0.26 -0.055" rpy="0 0 0"/>
        <parent link="rearAxel_link"/>
        <child link="rearLeftWheel_link"/>
    </joint>


    <!-- LDS01 Lidar Link -->
    <link name="laser_link">
        <visual>
            <geometry>
                <cylinder radius="0.035" length="0.03"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <material name="robot_front_color"/>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.035" length="0.03"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </collision>
    </link>

    <joint name="laser_base_joint" type="fixed">
        <parent link="base_link"/>
        <child link="laser_link"/>
        <origin xyz="0.3076 0 0.2134" rpy="0 0 3.1416"/>
    </joint> 

    <!-- GPS Link -->
    <link name="gps_link">
        <visual>
            <geometry>
                <cylinder radius="0.015" length="0.01"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <material name="robot_front_color"/>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.015" length="0.01"/>
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </collision>
    </link>

    <joint name="gps_base_joint" type="fixed">
        <parent link="base_link"/>
        <child link="gps_link"/>
        <origin xyz="0.3 -0.03 0.20" rpy="0 0 -1.5708"/>
    </joint>

<!-- Left Edge Cube Camera (2cm) looking 45° left) -->
<link name="camera_left_link">
    <visual>
        <geometry>
            <box size="0.02 0.02 0.02"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <material name="robot_front_color"/>
    </visual>
    <collision>
        <geometry>
            <box size="0.02 0.02 0.02"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </collision>
</link>

<joint name="camera_left_base_joint" type="fixed">
    <!-- Positioned at left edge, looking 45° to the left -->
    <origin xyz="0.3426 0.22 0.0134" rpy="-1.5708 0 -0.7854"/> <!-- yaw=45° left -->
    <parent link="base_link"/>
    <child link="camera_left_link"/>
</joint>

<!-- Right Edge Cube Camera (2cm) looking 45° right) -->
<link name="camera_right_link">
    <visual>
        <geometry>
            <box size="0.02 0.02 0.02"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <material name="robot_front_color"/>
    </visual>
    <collision>
        <geometry>
            <box size="0.02 0.02 0.02"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </collision>
</link>

<joint name="camera_right_base_joint" type="fixed">
    <!-- Positioned at right edge, looking 45° to the right -->
    <origin xyz="0.3426 -0.22 0.0134" rpy="-1.5708 0 -2.3562"/> <!-- yaw=-45° right -->
    <parent link="base_link"/>
    <child link="camera_right_link"/>
</joint>


<!-- Camera Center-->
<link name="camera_center_link">
    <visual>
        <geometry>
            <box size="0.02 0.02 0.02"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <material name="robot_front_color"/>
    </visual>
    <collision>
        <geometry>
            <box size="0.02 0.02 0.02"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </collision>
</link>

<joint name="camera_base_joint" type="fixed">
    <origin xyz="0.346 0 0.0134" rpy="rpy="-1.5708 0 -1.5708"/>
    <parent link="base_link"/>
    <child link="camera_center_link"/>
</joint>

    
</robot>
